<div class="container-fluid mt-1 bg-img">
    <h1 class="sticky-top">FAQ</h1>
    <br>
    <br>
    <div class="container-fluid pt-3">
        <p class="question">Q: What is this ranking system?</p>
        <p class="answer">A: A comprehensive ranking system evaluating global container ports based on efficiency,
            smartness, greenness, and
            resilience.</p>
        <p class="question">Q: How are the rankings determined?</p>
        <p class="answer">A: Rankings are based on a mix of quantitative data (AIS, business statistics) and qualitative
            expert ratings on key
            performance indicators.</p>
        <p class="question">Q: Who contributes to the rankings?</p>
        <p class="answer">A: Experts from various maritime sectors, including port operations, logistics, government,
            and
            environmental
            agencies.</p>
        <p class="question">Q: Can I access the rankings for free?</p>
        <p class="answer">A: Yes, the rankings are publicly available on our website for industry stakeholders and the
            public.</p>
        <p class="question">Q: How often are the rankings updated?</p>
        <p class="answer">A: The rankings are revised and updated annually to reflect the latest developments and
            performances.</p>
        <p class="question">Q: How can I join the expert pool?</p>
        <p class="answer">A: Interested individuals can register on our website to be considered for the expert pool,
            subject to approval.</p>
        <p class="question">Q: What is the significance of the rankings?</p>
        <p class="answer">A: The rankings aim to foster improvement in port operations globally, encouraging ports to
            adopt
            best practices and
            innovations.</p>
    </div>
</div>