<div class="container-fluid mt-1 bg-img">
    <h1 class="sticky-top">Research</h1>
    <br>
    <br>
    <p>
        This research project initially in the testing mode intends to stand at the forefront of maritime innovation,
        developing the first comprehensive
        port index system that ranks container ports globally on efficiency, smartness, greenness, and resilience. This
        work
        not only sets new standards
        in port operations but also encourages ports to adopt best practices and technologies. The impact of our work
        promises to be far-reaching
        through:
    </p>
    <br>
    <br>

    <ul>
        <li>Driving Operational Excellence: Encouraging ports to improve efficiency and embrace automation.</li>
        <br>
        <li>Promoting Sustainability: Highlighting the importance of green practices in reducing maritime environmental
            footprints.</li>
        <br>
        <li>Enhancing Resilience: Preparing ports to better manage risks and recover from disruptions.</li>
    </ul>

    <!-- <app-score-chart></app-score-chart> -->
</div>

