.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler-icon {
  display: inline-block;
  content: "";
  width: 22px;
  height: 2px;
  background-color: white;
  position: absolute;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
}

.navbar-toggler-icon::before, .navbar-toggler-icon::after {
  width: 22px;
  height: 2px;
  background-color: white;
  position: absolute;
  content: "";
}

.navbar-toggler-icon::before {
  top: -10px;
}

.navbar-toggler-icon::after {
  top: 10px;
}



.nav-link {
  /* border-bottom: 2px solid white; */
  color: white;
}

.nav-link active {
  color: white;
}

.nav-item {
  color: white;
}

.nav-link {
  font-size: 20px; /* Adjust as needed */
}

.nav-link:hover {
  color: cyan;
  /* Change this t render the colour of the nav link cell when hovering */
  /* border-bottom-color: currentColor */
  /* border-bottom-color: 2px solidcadetblue; */
  border-bottom: 2px solid cadetblue;
}

/* .nav-link-logo img {
  max-height: 50px;
  width: auto;
} */

.bg-body-tertiary {
  background-color: black !important;
  padding: 0;
}

.nav-link.dropdown-toggle {
  color: #fff; /* Sets the text color to white */
}
