<div class="container-fluid mt-1 bg-img">
  <h1 class="sticky-top">About Us</h1>
  <br />
  <br />
  <p>
    The Container port benchmarking is a research initiative by Centre for
    Maritime Studies (CMS) at the National University of Singapore (NUS). The
    project is funded by Singapore Maritime Institute (SMI) Singapore.
    Waterborne Transport Insititute (WTI), China is an industry collaborator to
    support the study.
  </p>
  <br />

  <h2><b>Background of the study</b></h2>

  <p>
    Our project revolves around the development of a robust container port index
    system. To ensure a holistic and multi-stakeholder approach, we are seeking
    input from experts across various domains, including companies that utilize
    the ports, port operators, port authorities, freight forwarders, ship
    liners, and logistic companies. By incorporating diverse perspectives, we
    aim to create an index system that accurately reflects the needs and
    priorities of the industry.
  </p>
  <br />

  <div class="wrapper">
    <div class="container-fluid obj">
      <div class="text-container">
        <h2><b>Objectives</b></h2>
        <ul>
          <li>To develop a world class container port benchmarking system.</li>
          <li>To evolve a healthy competition among ports around the globe.</li>
          <li>To identify the improvement areas in a container port.</li>
        </ul>
      </div>
      <img src="assets/cargo.jpg" alt="Description of image" class="image" />
    </div>
  </div>

  <h2><b>Benefits to the Industry</b></h2>

  <p>
    The primary objective of the project is to design a comprehensive assessment
    model that enables a comparative evaluation of container ports globally. We
    analyse the specific characteristics, best practices and contextual factors
    that contribute to the success of container ports. The evaluation can
    potentially help identify areas of improvement and formulate strategies to
    enhance the competitiveness and efficiency of ports.
  </p>

  <br />

  <h2><b>How can you contribute to the study?</b></h2>

  <p>
    You can contribute by joining our expert base. Please
    <a href="#" (click)="submitForm($event)">submit</a> your details and we
    shall be back to you!
  </p>
</div>
