.container-fluid {
    padding-top: 75px;
    width: 100%;
    /* Full width */
    height: 100vh;

}

.bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../src/assets/sea.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid p {
    color: white;
    font-size: 20px;
}


h1 {
    font-size: 48px;
    color: cadetblue;
    font-weight: bold;
}

.custom-modal {
    margin-top: 50px;
    min-width: 1200px;
    /* padding-top: 200px;
    margin: 10px; */
}

.btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='white' d='M.293.293a1 1 0 011.414 0L8 6.586l6.293-6.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}

#efficiencyModal .modal-header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

}

#efficiencyModal .modal-body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

}

#efficiencyModal .modal-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#smartnessModal .modal-header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#smartnessModal .modal-body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#smartnessModal .modal-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#greennessModal .modal-header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#greennessModal .modal-body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#greennessModal .modal-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#resilienceModal .modal-header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#resilienceModal .modal-body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#resilienceModal .modal-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.dropdown-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* adjust as needed */
    margin-bottom: 20px;
}