<div class="container-fluid mt-1 bg-img">
    <h1 class="sticky-top">Stakeholders</h1>
    <br>
    <br>
    <p>
        The project brings together stakeholders from across the maritime industry to develop a comprehensive ranking
        system
        for container ports. The
        stakeholders include:
    </p>
    <ul>
        <li>Port Operators</li>
        <li>Ship Liners or Owners</li>
        <li>Inland Logistics Providers</li>
        <li>Government Bodies and Regulators</li>
        <li>Maritime Port Authorities </li>
        <li>Cargo Owners and Freight Forwarders</li>
    </ul>
    <br>
    <p>
        The stakeholders play a very important role in shaping our ranking criteria, contributing expert insights, and
        ensuring that the benchmarking
        reflect the latest in maritime excellence. Join us in driving the future of port operations:
    </p>
    <ul>
        <li>Enhance Global Trade Efficiency</li>
        <li>Promote Sustainable Maritime Practices</li>
        <li>Foster Innovation and Resilience in Port Operations</li>
    </ul>
</div>