<div class="container-fluid mt-1 bg-img">
    <h1 class="sticky-top">Join Us</h1>
    <br>
    <br>
    <p>
        Become part of the maritime revolution by joining our expert pool. Share your insights, contribute to our
        comprehensive port rankings, and help
        shape the future of global maritime operations.
    </p>
    <br>
    <p>
        <b>
            Register now to make an impact and drive excellence in the maritime industry !
        </b>
    </p>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
            </div>
            <h1 class="card-title text-center" style="color: white">Would you like to join us as an expert?</h1>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-lg m-5" style="width: 150px;" data-bs-toggle="modal"
                    data-bs-target="#Modal-Yes">Yes</button>
                <!-- Modal for Response - Yes -->
                <div class="modal fade" id="Modal-Yes" tabindex="-1" aria-labelledby="signUpModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signUpModalLabel">Create Account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" id="email"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary btn-lg m-5" data-bs-toggle="modal"
                    data-bs-target="#Modal-No" style="width: 150px;">No</button>

                <!-- Modal for Response - No -->
                <div class="modal fade" id="Modal-No" tabindex="-1" aria-labelledby="RejectModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>