.card-body {
    border-radius: 50px;
    background-color: cadetblue
    /* Adjust as needed */
}

.card {
    border-radius: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: cadetblue;
}

.bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('C:/Users/zyachin/Desktop/Repos/WTI/src/assets/sea.jpg');
    /* Create a semi-transparent black layer */
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    width: 100%;
    /* Full width */
    min-height: 100vh;
    /* If use height selector it will fix the height instead need to min-height so that the height can be adjusted according to the content */
    /* Full height */
    /* overflow: auto; */
    /* Add a scrollbar if the content overflows */
    padding-top: 75px;
    text-align: left;

}